.jumbotron {
    background-image: url(./images/Synesthesia.png);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 0px;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 90vh;
}

.PianoDarkTheme .ReactPiano__Key--accidental {
    background: #025d7d;
    border: 1px solid #888;
}

.PianoDarkTheme .ReactPiano__Key--natural {
    background: #013243;
    border: 1px solid #888;
    margin-right: 0;
}

.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--accidental {
    background: #0396ca;
}

.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--natural {
    background: #0396ca;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}